/* ==========================================================================
   Global-custom-property base
   ========================================================================== */

@use '../abstracts/' as *;
@use 'sass:color' as *;

:root {
  /* primary color */
  --color-primary-mid: #e03c8a; // tsutusji
  --color-primary-mid-alpha-middle: rgba(224, 60, 138, 0.5);

  /* secondary color */
  --color-secondary-mid: #fbe251; // kihada
  --color-secondary-mid-alpha-middle: rgba(251, 226, 81, 0.5);

  /* neutral color */
  --color-neutral-darken: #080808; // kuro
  --color-neutral-darken-alpha-extra-low: rgba(8, 8, 8, 0.95);
  --color-neutral-darken-alpha-low: rgba(8, 8, 8, 0.75);
  --color-neutral-darken-alpha-middle: rgba(8, 8, 8, 0.5);
  --color-neutral-darker: #1c1c1c; // sumi
  --color-neutral-darker-alpha-low: rgba(28, 28, 28, 0.75); // IE11 does not support the alpha-value as percent
  --color-neutral-darker-alpha-middle: rgba(28, 28, 28, 0.5); // IE11 does not support the alpha-value as percent
  --color-neutral-darker-alpha-high: rgba(28, 28, 28, 0.25); // IE11 does not support the alpha-value as percent
  --color-neutral-mid: #2c2f33;
  --color-neutral-mid-alpha-low: rgba(83, 89, 83, 0.75); // IE11 does not support the alpha-value as percent
  --color-neutral-mid-alpha-middle: rgba(83, 89, 83, 0.5); // IE11 does not support the alpha-value as percent
  --color-neutral-mid-alpha-high: rgba(83, 89, 83, 0.25); // IE11 does not support the alpha-value as percent
  --color-neutral-extra-mid: #5d5d5d;
  --color-neutral-low-lighter: #877f6c; // kurumi
  --color-neutral-lighter: #bdc0ba; // shironezumi
  --color-neutral-extra-lighter: #fcfaf2; // shironeri
  --color-neutral-lightest: #fff;
  --color-neutral-lightest-alpha-middle: rgba(255, 255, 255, 0.5);

  /* other color */
  --color-warning: #d94747;
  --color-accent: #ff9800;
  --color-accent-alpha-low: rgba(255, 152, 0, 0.7); // IE11 does not support the alpha-value as percent
  --color-link: #4895e6;
  --color-link-hover: #1d60e7;
  --color-checkbox: #4895e6;
  --color-focus-alpha: rgba(13, 110, 253, 0.5); // IE11 does not support the alpha-value as percent
  --color-box-shadow: rgba(0, 0, 0, 0.16); // IE11 does not support the alpha-value as percent

  /* font-family */
  --font-family-primary: 'Noto Sans JP', sans-serif;

  /* font-size (postcss-rem) */
  --font-size-2xs: rem(12px);
  --font-size-xs: rem(13px);
  --font-size-sm: rem(14px);
  --font-size-md: rem(16px);
  --font-size-lg: rem(18px);
  --font-size-xl: rem(20px);
  --font-size-2xl: rem(22px);
  --font-size-3xl: rem(24px);
  --font-size-4xl: rem(26px);
  --font-size-5xl: rem(28px);
  --font-size-6xl: rem(30px);
  --font-size-7xl: rem(32px);
  --font-size-8xl: rem(34px);
  --font-size-9xl: rem(48px);
  --font-size-10xl: rem(56px);
  --font-size-11xl: rem(68px);
  --font-size-12xl: rem(82px);
  --font-size-13xl: rem(96px);

  /* font-weight */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  /* letter-spacing */
  --letter-spacing-narrow: -0.03em;
  --letter-spacing-normal: 0;
  --letter-spacing-wide: 0.05em;
  --letter-spacing-wider: 0.1em;
  --letter-spacing-widest: 0.15em;

  /* line-height */
  --line-height-none: 1;
  --line-height-tight: 1.2;
  --line-height-snug: 1.375;
  --line-height-normal: 1.5;
  --line-height-relaxed: 1.75;
  --line-height-loose: 2;
  --line-height-extra-loose: 2.375;

  /* easing timing function (https://www.npmjs.com/package/easings-css) */
  --ease-in-sine: cubic-bezier(0.47, 0, 0.745, 0.715);
  --ease-out-sine: cubic-bezier(0.39, 0.575, 0.565, 1);
  --ease-in-out-sine: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  --ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
  --ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
  --ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
  --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
  --ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  --ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
  --ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  --ease-in-back: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  --ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --ease-in-out-back: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
