/* ==========================================================================
   Top-about project
   ========================================================================== */

@use '../../../abstracts/' as *;
@use 'sass:math' as *;

/* base layout */
.p-top-about {
  position: relative;
}

/* circle text animation style */
.p-top-about__circle-text {
  position: absolute;
  top: fs-rem(-40px);
  right: fs-rem(100px);
  animation: circle-text-animation 60s infinite linear;

  @include mq($from: landscape) {
    top: fs-rem(0);
    right: fs-rem(100px);
  }

  @include mq($from: tablet) {
    top: fs-rem(64px);
    right: fs-rem(148px);
  }

  @include mq($from: desktop) {
    top: fs-rem(64px);
    right: fs-rem(320px);
  }

  &:hover {
    animation-play-state: paused;
  }

  @media screen and (prefers-reduced-motion: reduce) {
    animation: none;
  }
}

@keyframes circle-text-animation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* inner layout */
.p-top-about__inner {
  position: relative;
}

/* header layout */
.p-top-about__header {
  margin-left: fs-rem(-3px);

  @include mq($from: tablet) {
    margin-left: fs-rem(-4px);
  }

  @include mq($from: wide) {
    margin-left: fs-rem(-6px);
  }
}

/* title layout */
.p-top-about__title {
  display: flex;
}

/* body layout */
.p-top-about__body {
  @include mq($from: tablet) {
    display: flex;
    margin-top: fs-rem(12px);
  }

  @include mq($from: tablet) {
    margin-top: fs-rem(48px);
  }

  @include mq($from: wide) {
    margin-top: fs-rem(56px);
  }
}

/* profile layout */
.p-top-about__profile {
  margin-top: fs-rem(18px);

  @include mq($from: tablet) {
    flex-shrink: 0;
    margin-top: fs-rem(-9px);
  }
}

/* position layout */
.p-top-about__position {
  margin-top: fs-rem(-12px);
}

/* description layout */
.p-top-about__description {
  margin-top: fs-rem(16px);

  @include mq($from: tablet) {
    // max-width: 48ch;
    margin-top: fs-rem(0);
    margin-left: fs-rem(60px);
  }

  @include mq($from: desktop) {
    margin-top: fs-rem(4px);
    margin-left: fs-rem(160px);
  }

  @include mq($from: wide) {
    margin-top: fs-rem(4px);
    margin-left: fs-rem(240px);
  }
}

/* text layout */
.p-top-about__text {
  &:nth-of-type(n+2) {
    margin-top: fs-rem(18px);

    @include mq($from: wide) {
      margin-top: fs-rem(24px);
    }
  }
}

/* media layout */
.p-top-about__media {
  @include fs-scale(margin-top, (360px: 40px, 1300px: 140px));
  @include fs-scale(height, (360px: 160px, 1300px: 500px));

  position: relative;
  width: 100%;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent, cubic-bezier(0.48, 0.3, 0.64, 1), #080808);
    content: '';
  }
}

/* image layout */
.p-top-about__image {
  width: 100%;
  height: 99%; // Workaround 1px white lines under images in Android.
  object-fit: cover;
  object-position: 50% 100%;
  filter: brightness(0.45);

  @include mq($from: landscape) {
    object-position: 50% 80%;
  }

  @include mq($from: tablet) {
    object-position: 50% 90%;
  }

  @include mq($from: desktop) {
    object-position: 50% 90%;
  }

  @include mq($from: wide) {
    object-position: 50% 70%;
  }
}

.p-top-about__timeline {
  margin-top: fs-rem(100px);

  @include mq($from: tablet) {
    margin-top: fs-rem(100px);
    margin-left: fs-rem(80px);
  }

  @include mq($from: desktop) {
    margin-top: fs-rem(120px);
    margin-left: fs-rem(120px);
  }

  @include mq($from: wide) {
    margin-top: fs-rem(220px);
    margin-left: fs-rem(160px);
  }
}

.p-top-about__list {
  margin-top: fs-rem(24px);

  @include mq($from: desktop) {
    margin-top: fs-rem(48px);
  }

  @include mq($from: wide) {
    margin-top: fs-rem(62px);
  }
}
