/* ==========================================================================
   Top-article project
   ========================================================================== */

@use '../../../abstracts/' as *;
@use 'sass:math' as *;

/* base layout */
.p-top-article {
  padding-top: fs-rem(140px);
  background-color: var(--color-neutral-darken);

  @include mq($from: tablet) {
    padding-top: fs-rem(180px);
  }

  @include mq($from: desktop) {
    padding-top: fs-rem(240px);
  }

  @include mq($from: wide) {
    padding-top: fs-rem(320px);
  }
}

/* heading layout */
.p-top-article__heading {
  display: flex;
  align-items: center;
}

/* textbox layout */
.p-top-article__textbox {
  margin-top: fs-rem(4px);
}

/* body layout */
.p-top-article__body {
  margin-top: fs-rem(8px);

  @include mq($from: tablet) {
    margin-top: fs-rem(16px);
  }

  @include mq($from: wide) {
    margin-top: fs-rem(24px);
  }
}

/* list layout */
.p-top-article__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @include mq($from: tablet, $until: wide) {
    margin-left: fs-rem(-24px);
  }

  @include mq($from: wide) {
    margin-left: fs-rem(-32px);
  }
}

/* item layout */
.p-top-article__item {
  width: 100%;

  @include mq($until: tablet) {
    margin-top: fs-rem(16px);
  }

  @include mq($from: tablet, $until: wide) {
    width: div(100%, 2);
    padding-left: fs-rem(24px);

    &:nth-of-type(n+3) {
      margin-top: fs-rem(24px);
    }
  }

  @include mq($from: wide) {
    width: div(100%, 3);
    padding-left: fs-rem(32px);

    &:nth-of-type(n+4) {
      margin-top: fs-rem(32px);
    }
  }
}

/* link layout */
.p-top-article__link {
  height: 100%;
}

/* overview layout */
.p-top-article__overview {
  height: 100%;
  padding: fs-rem(12px);
  background-color: var(--color-neutral-darker);
  border-radius: fs-rem(6px);
  transition: background-color 0.3s var(--ease-in-out-cubic);

  // prefer-reduced-motion
  @media screen and (prefers-reduced-motion: reduce) {
    transition: none;
  }

  @include hover {
    background-color: var(--color-neutral-mid-alpha-low);
  }
}

/* description layout */
.p-top-article__description {
  margin-top: fs-rem(-6px);
}
