/* ==========================================================================
   Top-key-visual project
   ========================================================================== */

@use '../../../abstracts/' as *;
@use 'sass:math' as *;

/* overview */
.p-top-kv {
  position: relative;
}

/* media-01 layout */
.p-top-kv__media-01 {
  @include fs-scale(width, ($breakpoint-mobile: 500px, $breakpoint-wide: 708px, $breakpoint-full: 900px));

  position: absolute;
  top: fs-rem(-124px);
  right: fs-rem(-85px);
  margin-left: auto;
}

/* inner layout */
.p-top-kv__inner {
  display: grid;
  grid-template:
    'top-body' auto
    'top-media' auto / 1fr;
  align-items: center;
  padding-top: fs-rem(40px);
  padding-bottom: fs-rem(40px);

  @include mq($from: landscape) {
    grid-template: 'top-kv' auto / 1fr;
    padding-top: fs-rem(130px);
    padding-bottom: fs-rem(110px);
  }
}

/* body layout */
.p-top-kv__body {
  grid-area: top-body;
  margin-top: fs-rem(-12px);

  @include mq($from: landscape) {
    grid-area: top-kv;
  }
}

.p-top-kv__copy {
  @include fs-scale(font-size, ($breakpoint-mobile: 28px, $breakpoint-wide: 32px, $breakpoint-full: 48px));

  margin-top: fs-rem(24px);
  line-height: 1.4375;

  @include mq($from: landscape) {
    margin-top: fs-rem(0);
  }
}

/* media-02 layout */
.p-top-kv__media-02 {
  @include fs-scale(width, ($breakpoint-mobile: 320px, $breakpoint-wide: 518px, $breakpoint-full: 700px));

  grid-area: top-media;
  justify-self: end;
  margin-top: fs-rem(24px);

  @include mq($from: landscape) {
    grid-area: top-kv;
    margin-top: 0;
  }
}

/* text layout */
.p-top-kv__text {
  @include fs-scale(font-size, ($breakpoint-mobile: 14px, $breakpoint-wide: 16px, $breakpoint-full: 20px));

  margin-top: fs-rem(45px);

  @include mq($from: landscape) {
    margin-top: fs-rem(45px);
  }
}

/* link layout */
.p-top-kv__link {
  margin-top: fs-rem(45px);

  @include mq($from: landscape) {
    margin-top: fs-rem(45px);
  }
}
