/* ==========================================================================
   Top-works project
   ========================================================================== */

@use '../../../abstracts/' as *;
@use 'sass:math' as *;

/* works overview */
.p-top-works {
  padding-top: fs-rem(140px);
  background: var(--color-neutral-darken);

  @include mq($from: tablet) {
    padding-top: fs-rem(180px);
  }

  @include mq($from: desktop) {
    padding-top: fs-rem(240px);
  }

  @include mq($from: wide) {
    padding-top: fs-rem(320px);
  }
}

/* title layout */
.p-top-works__title {
  display: flex;
  align-items: center;
}

/* body layout */
.p-top-works__body {
  @include mq($from: tablet) {
    margin-top: fs-rem(16px);
  }

  @include mq($from: wide) {
    margin-top: fs-rem(32px);
  }
}

/* text layout */
.p-top-works__text {
  margin-top: fs-rem(16px);

  @include mq($from: tablet) {
    margin-top: fs-rem(24px);
  }
}

/* item layout */
.p-top-works__item {
  &:nth-of-type(n+2) {
    margin-top: fs-rem(34px);

    @include mq($from: tablet) {
      margin-top: fs-rem(0);
    }
  }
}

/* swiper easing */
.p-top-works__swiper-wrapper {
  transition-timing-function: var(--ease-in-out-cubic);

  @media screen and (prefers-reduced-motion: reduce) {
    transition: none;
  }
}

/* swiper button layout */
.p-top-works__swiper-button-next,
.p-top-works__swiper-button-prev {
  @include focus;

  width: fs-rem(32px);
  height: fs-rem(32px);
  background-color: var(--color-neutral-lightest-alpha-middle);
  border-radius: 50%;

  @include mq($from: tablet) {
    width: fs-rem(42px);
    height: fs-rem(42px);
  }

  @include mq($from: wide) {
    width: fs-rem(52px);
    height: fs-rem(52px);
  }

  &::after {
    color: var(--color-neutral-darken);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-md);
  }
}

/* swiper pagination layout */
.p-top-works__swiper-pagination {
  position: static;
  margin-top: fs-rem(16px);
  text-align: left;

  @include mq($from: tablet) {
    margin-top: fs-rem(20px);
  }

  @include mq($from: wide) {
    margin-top: fs-rem(24px);
  }

  .swiper-pagination-bullet {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: fs-rem(32px);
    height: fs-rem(32px);
    color: var(--color-neutral-lightest-alpha-middle);
    font-size: fs-rem(16px);
    background-color: var(--color-neutral-darken);
    border-radius: 50%;
    opacity: 1;
    transition: color 0.3s var(--ease-in-out-cubic), background-color 0.3s var(--ease-in-out-cubic);

    @include mq($from: tablet) {
      width: fs-rem(32px);
      height: fs-rem(32px);
      font-size: fs-rem(16px);
    }

    @include mq($from: wide) {
      width: fs-rem(48px);
      height: fs-rem(48px);
      font-size: fs-rem(20px);
    }

    &:nth-of-type(n+2) {
      margin-left: fs-rem(8px);

      @include mq($from: tablet) {
        margin-left: fs-rem(14px);
      }

      @include mq($from: wide) {
        margin-left: fs-rem(18px);
      }
    }

    &:nth-of-type(n) {
      @include focus;
    }
  }

  .swiper-pagination-bullet-active {
    color: var(--color-neutral-darken);
    background-color: var(--color-neutral-lightest-alpha-middle);
  }
}
