// ============================================================================
// Focus mixin
// ============================================================================

@use '../vendors/' as *;

@mixin focus {
  &:focus {
    outline: fs-rem(2px) dashed var(--color-focus-alpha-50);
    outline-offset: fs-rem(3px);
  }

  .js-focus-visible &:focus:not(.focus-visible) {
    outline: none;
  }
}
