$breakpoints: (mobile: 360px, landscape: 540px, tablet: 724px, laptop: 840px, desktop: 1080px, wide: 1300px, full: 1920px);
$breakpoints-mobile: 360px;
$breakpoints-landscape: 540px;
$breakpoints-tablet: 724px;
$breakpoints-laptop: 840px;
$breakpoints-desktop: 1080px;
$breakpoints-wide: 1300px;
$breakpoints-full: 1920px;