$path: (root: /, js: /assets/js/, css: /assets/css/, cssvendors: /assets/css/vendors/, imgcommon: /assets/img/common/, imgogp: /assets/img/ogp/, imgtop: /assets/img/top/, imgerror: /assets/img/error/);
$breakpoints: (mobile: 360px, landscape: 540px, tablet: 724px, headerMenu: 840px, desktop: 1080px, wide: 1300px, full: 1920px);
$common: (siteName: your-coding, ogsite_name: your-coding, oglocale: ja_JP, oglocalealternate: en_US, twittercard: summary_large_image, twittersite: , twittercreator: , fbapp_id: );
$top: (prefix: og: https://ogp.me/ns# fb: https://ogp.me/ns/fb# website: https://ogp.me/ns/website#, title: Top, description: coding-practice, keywords: , ogtype: website, ogurl: https://shogo-log3..coding11ty.com, ogimage: ogp-1200x630.jpg, ogimagesecure_url: ogp-1200x630.jpg, ogimagealt: , ogimagetype: image/jpeg, ogimagewidth: 1200, ogimageheight: 630, ogdescription: coding-practice, twitterimage: ogp-1200x630.jpg, twitterimagealt: );
$error: (prefix: og: https://ogp.me/ns# fb: https://ogp.me/ns/fb# article: https://ogp.me/ns/article#, title: 404 File Not Found, description: アクセスしようとしたページは見つかりませんでした。, keywords: , ogtype: article, ogurl: https://shogo-log3.coding11ty.com/error.html, ogimage: ogp-1200x630.jpg, ogimagesecure_url: ogp-1200x630.jpg, ogimagealt: , ogimagetype: image/jpeg, ogimagewidth: 1200, ogimageheight: 630, ogdescription: アクセスしようとしたページは見つかりませんでした。, twitterimage: ogp-1200x630.jpg, twitterimagealt: );
$thanks: (prefix: og: https://ogp.me/ns# fb: https://ogp.me/ns/fb# article: https://ogp.me/ns/article#, title: お問い合わせ, description: 送信が完了いたしました。, keywords: , ogtype: article, ogurl: https://shogo-log3.coding11ty.com/404.html, ogimage: ogp-1200x630.jpg, ogimagesecure_url: ogp-1200x630.jpg, ogimagealt: , ogimagetype: image/jpeg, ogimagewidth: 1200, ogimageheight: 630, ogdescription: 送信が完了いたしました。, twitterimage: ogp-1200x630.jpg, twitterimagealt: );
$path-root: /;
$path-js: /assets/js/;
$path-css: /assets/css/;
$path-cssvendors: /assets/css/vendors/;
$path-imgcommon: /assets/img/common/;
$path-imgogp: /assets/img/ogp/;
$path-imgtop: /assets/img/top/;
$path-imgerror: /assets/img/error/;
$breakpoints-mobile: 360px;
$breakpoints-landscape: 540px;
$breakpoints-tablet: 724px;
$breakpoints-headerMenu: 840px;
$breakpoints-desktop: 1080px;
$breakpoints-wide: 1300px;
$breakpoints-full: 1920px;
$common-siteName: your-coding;
$common-ogsite_name: your-coding;
$common-oglocale: ja_JP;
$common-oglocalealternate: en_US;
$common-twittercard: summary_large_image;
$common-twittersite: ;
$common-twittercreator: ;
$common-fbapp_id: ;
$top-prefix: og: https://ogp.me/ns# fb: https://ogp.me/ns/fb# website: https://ogp.me/ns/website#;
$top-title: Top;
$top-description: coding-practice;
$top-keywords: ;
$top-ogtype: website;
$top-ogurl: https://shogo-log3..coding11ty.com;
$top-ogimage: ogp-1200x630.jpg;
$top-ogimagesecure_url: ogp-1200x630.jpg;
$top-ogimagealt: ;
$top-ogimagetype: image/jpeg;
$top-ogimagewidth: 1200;
$top-ogimageheight: 630;
$top-ogdescription: coding-practice;
$top-twitterimage: ogp-1200x630.jpg;
$top-twitterimagealt: ;
$error-prefix: og: https://ogp.me/ns# fb: https://ogp.me/ns/fb# article: https://ogp.me/ns/article#;
$error-title: 404 File Not Found;
$error-description: アクセスしようとしたページは見つかりませんでした。;
$error-keywords: ;
$error-ogtype: article;
$error-ogurl: https://shogo-log3.coding11ty.com/error.html;
$error-ogimage: ogp-1200x630.jpg;
$error-ogimagesecure_url: ogp-1200x630.jpg;
$error-ogimagealt: ;
$error-ogimagetype: image/jpeg;
$error-ogimagewidth: 1200;
$error-ogimageheight: 630;
$error-ogdescription: アクセスしようとしたページは見つかりませんでした。;
$error-twitterimage: ogp-1200x630.jpg;
$error-twitterimagealt: ;
$thanks-prefix: og: https://ogp.me/ns# fb: https://ogp.me/ns/fb# article: https://ogp.me/ns/article#;
$thanks-title: お問い合わせ;
$thanks-description: 送信が完了いたしました。;
$thanks-keywords: ;
$thanks-ogtype: article;
$thanks-ogurl: https://shogo-log3.coding11ty.com/404.html;
$thanks-ogimage: ogp-1200x630.jpg;
$thanks-ogimagesecure_url: ogp-1200x630.jpg;
$thanks-ogimagealt: ;
$thanks-ogimagetype: image/jpeg;
$thanks-ogimagewidth: 1200;
$thanks-ogimageheight: 630;
$thanks-ogdescription: 送信が完了いたしました。;
$thanks-twitterimage: ogp-1200x630.jpg;
$thanks-twitterimagealt: ;