// ============================================================================
// Z-index variables
// ============================================================================

// Note: Nesting of custom properties is not supported in IE11. Therefore, I use sass variables to manage

// base value
$z-index-base: 0;
$z-index-above: 10;
$z-index-below: -10;

// header layout
$z-index-header-pinned: calc($z-index-base + $z-index-below); // z-index: -10;
$z-index-header: calc($z-index-base + $z-index-above); // z-index: 10
$z-index-header-navigation: calc($z-index-base + $z-index-above); // z-index: 10
$z-index-header-logo: calc($z-index-header-navigation + $z-index-above); // z-index: 20
$z-index-header-button: calc($z-index-header-navigation + $z-index-above); // z-index: 20
$z-index-header-menu: calc($z-index-base + $z-index-below); // z-index: -10
$z-index-header-menu-active: calc($z-index-base + $z-index-above); // z-index: 10;
$z-index-header-blank-space: calc($z-index-header-menu + $z-index-below); // z-index: -20

// loading animation
$z-index-loading: calc($z-index-header-logo + $z-index-above); // z-index: 30

// card component
$z-index-card-media: $z-index-base; // z-index: 0
$z-index-card-number: calc($z-index-base + $z-index-above); // z-index: 10
