<!DOCTYPE html>
<html lang="ja">
    <%- include('./_include/_head', {page: meta.error}); %>
    <body>
        <!-- header -->
        <%- include('./_include/_header', { page: 'error' }); %>
        <!-- end header -->

        <!-- main -->
        <main class="l-main"></main>
        <!-- end main -->

        <!-- footer -->
        <%- include('./_include/_footer') %>
        <!-- end footer -->
    </body>
</html>
