<!DOCTYPE html>
<html lang="ja">
    <%- include('./_include/_head', {page: meta.error}); %>
    <body>
        <%- include('./_include/_header', { page: 'error' }); %>
        <main>
            <div class="p-error">
                <div class="p-error__main">
                    <p class="p-error__description c-text__2xl c-text--bold c-text--wide">404</p>
                    <p class="p-error__description c-text__2xl c-text--bold c-text--wide">File Not Found</p>
                    <p class="p-error__description c-text__md"><span class="u-break-sp-only">アクセスしようとした</span><span class="u-break-sp-only">ページは見つかりませんでした</span></p>
                </div>
            </div>
        </main>
    </body>
</html>
