<!DOCTYPE html>
<html lang="ja">
    <%- include('./_include/_head', {page: meta.top}); %>
    <body class="c-text__family--ja-sans c-text__fluid--md c-text__color--neutral-darker c-text__weight--normal c-text__ls--normal c-text__lh--normal">
        <!-- loading -->
        <%- include('./_include/_loading'); %>
        <!-- end loading -->

        <!-- header -->
        <%- include('./_include/_header', { page: 'top' }); %>
        <!-- end header -->

        <!-- main section -->
        <main class="l-main">
            <div style="width: 200px; height: 200px">
                <p class="c-text__fluid--2xl c-text__color--neutral-lighter">test</p>
            </div>
        </main>
        <!-- end main section -->

        <!-- footer -->
        <%- include('./_include/_footer') %>
        <!-- end footer -->
    </body>
</html>
