<!DOCTYPE html>
<html lang="ja">
    <%- include('./_include/_head', {page: meta.top}); %>
    <body>
        <!-- loading -->
        <%- include('./_include/_loading'); %>
        <!-- end loading -->

        <!-- header -->
        <%- include('./_include/_header', { page: 'top' }); %>
        <!-- end header -->

        <!-- main section -->
        <main class="l-main"></main>
        <!-- end main section -->

        <!-- footer -->
        <%- include('./_include/_footer') %>
        <!-- end footer -->
    </body>
</html>
