<footer class="l-footer">
    <div class="l-footer__inner">
        <div class="l-footer__loop">
            <div class="l-footer__text c-text__4xl c-text--widest c-text--mid c-text--black">Putting my thoughts in code, conveying my feelings in code.&nbsp;</div>
            <div class="l-footer__text c-text__4xl c-text--widest c-text--mid c-text--black">Putting my thoughts in code, conveying my feelings in code.&nbsp;</div>
        </div>
        <div class="l-footer__copyright">
            <div class="l-container l-container__width--normal l-container__max-width--xl">
                <p class="c-text__sm c-text--white c-text--bold" lang="en">&copy;&nbsp;<span translate="no">Masato Furuta</span></p>
            </div>
        </div>
    </div>
</footer>
