<section class="c-loading is-loading">
    <div class="c-loading__main">
        <p class="c-loading__text c-text__sm c-text--darker">Corder / Markup engineer</p>
        <p class="c-loading__text c-text__2xl c-text--bold c-text--wide c-text--darker">Masato Furuta</p>
    </div>
</section>
