/* ==========================================================================
   Bracket component
   ========================================================================== */

@use '../../abstracts/' as *;
@use 'sass:math' as *;

/* base style */
.c-bracket__quotation {
  display: block;
  width: fs-rem(20px);
  height: fs-rem(12px);
}

/* left modifier */
.c-bracket__quotation--left {
  margin-top: fs-rem(-32px);
  margin-right: fs-rem(4px);
  border-top: fs-rem(3px) solid var(--color-neutral-extra-lighter);
  border-left: fs-rem(3px) solid var(--color-neutral-extra-lighter);
}

/* right modifier */
.c-bracket__quotation--right {
  margin-bottom: fs-rem(-36px);
  margin-left: fs-rem(4px);
  border-right: fs-rem(3px) solid var(--color-neutral-extra-lighter);
  border-bottom: fs-rem(3px) solid var(--color-neutral-extra-lighter);
}
