/* ==========================================================================
Button component
========================================================================== */

@use '../../abstracts/' as *;
@use 'sass:math' as *;

/* base style */
.c-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: fs-rem(10px);
  box-shadow: 0 fs-rem(3px) fs-rem(6px) var(--color-black-alpha-200);

  &:active {
    transform: translateY(fs-rem(1px));
  }

  &[disabled] {
    opacity: 0.65;
    pointer-events: none;
  }
}

/* size */
.c-button__size--md {
  padding: fs-rem(4px) fs-rem(12px);

  @include mq($from: desktop) {
    padding: fs-rem(8px) fs-rem(24px);
  }

  @include mq($from: full) {
    padding: fs-rem(12px) fs-rem(48px);
  }
}

/* size(fluid) */
.c-button__fluid--md {
  @include fs-scale((padding-left, padding-right), ($breakpoint-mobile: 12px, $breakpoint-desktop: 24px, $breakpoint-full: 48px));
  @include fs-scale((padding-top, padding-bottom), ($breakpoint-mobile: 4px, $breakpoint-desktop: 8px, $breakpoint-full: 12px));
}

/* color */
.c-button__color--gradient {
  background-image: linear-gradient(to right, var(--color-gradient-01), var(--color-gradient-02));
}
