/* ==========================================================================
Button component
========================================================================== */

@use '../../abstracts/' as *;
@use 'sass:math' as *;

/* base style */
.c-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-y, rem(7px)) var(--padding-x, rem(30px));
  border-radius: fs-rem(10px);
  box-shadow: 0 fs-rem(3px) fs-rem(6px) var(--color-black-alpha-200);

  @include mq($from: full) {
    --padding-x: rem(48px);
    --padding-y: rem(12px);
  }

  &:active {
    transform: translateY(fs-rem(1px));
  }

  &[disabled] {
    opacity: 0.65;
    pointer-events: none;
  }
}

/* color */
.c-button__color--gradient {
  background-image: linear-gradient(to right, var(--color-gradient-01), var(--color-gradient-02));
}
