// ==========================================================================
// gnav-mobile component
// ==========================================================================

@use '../../abstracts/' as *;
@use 'sass:math' as *;

/* base layout */
.c-gnav {
  padding: fs-rem(100px) fs-rem(60px);
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior: contain;
}

/* list layout (sequence fade in animation) */
.c-gnav__list {
  transform: translateX(12px);
  opacity: 0;


  .l-header__navigation.is-open & {
    transform: translateX(0);
    opacity: 1;

    // Fix Layout Flickering with JavaScript
    // https://ishadeed.com/article/layout-flickering/
    transition-timing-function: var(--ease-out-quint);
    transition-duration: var(--duration-700);
    transition-property: opacity, transform;
  }
}

/* item layout */
.c-gnav__item {
  padding-top: fs-rem(12px);
  padding-bottom: fs-rem(12px);
}

/* separator layout */
.c-gnav__separator {
  margin-top: fs-rem(52px);
  margin-bottom: fs-rem(52px);
}
