/* ==========================================================================
   Loading-animation component
   ========================================================================== */

@use '../../abstracts/' as *;
@use 'sass:math' as *;

/* overview */
.c-loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-index-loading;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-neutral-lightest);
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s var(--ease-in-out-cubic), visibility 1s var(--ease-in-out-cubic);

  &.is-loading {
    visibility: visible;
    opacity: 1;
  }
}

/* main layout */
.c-loading__main {
  width: 75%;
  opacity: 0;
  animation-name: fadein;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  animation-delay: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  @include mq($from: tablet) {
    width: 50%;
  }
}

/* fadein animation */
@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.c-loading__text:nth-of-type(2) {
  margin-top: fs-rem(-12px);

  @include mq($from: desktop) {
    margin-top: fs-rem(-16px);
  }
}
