/* ==========================================================================
   Separator component
   ========================================================================== */

@use '../../abstracts/' as *;
@use 'sass:math' as *;

.c-separator {
  @include mq($until: tablet) {
    display: block;
    width: 100%;
    height: fs-rem(1px);
    margin: fs-rem(42px) fs-rem(0);
    background-color: var(--color-neutral-low-lighter);
    border: 0;
    border-radius: 100vh;
  }
}
