/* ==========================================================================
Text component
========================================================================== */

@use '../../abstracts/' as *;
@use 'sass:math' as *;

// ==========================================================================
// font-family
// ==========================================================================

.c-text__family--ja-sans {
  font-family: var(--font-family-ja-sans);
}

.c-text__family--ja-serif {
  font-family: var(--font-family-ja-serif);
}

.c-text__family--en-sans {
  font-family: var(--font-family-en-sans);
}

.c-text__family--en-serif {
  font-family: var(--font-family-en-serif);
}

// ==========================================================================
// font-size(step)
// ==========================================================================
.c-text__size--xs {
  font-size: fs-rem(13px);

  @include mq($from: tablet) {
    font-size: fs-rem(14px);
  }
}

.c-text__size--md {
  font-size: fs-rem(14px);

  @include mq($from: tablet) {
    font-size: fs-rem(15px);
  }
}

.c-text__size--lg {
  font-size: fs-rem(14px);

  @include mq($from: tablet) {
    font-size: fs-rem(15px);
  }

  @include mq($from: wide) {
    font-size: fs-rem(16px);
  }
}

.c-text__size--xl {
  font-size: fs-rem(20px);

  @include mq($from: tablet) {
    font-size: fs-rem(21px);
  }

  @include mq($from: laptop) {
    font-size: fs-rem(22px);
  }

  @include mq($from: desktop) {
    font-size: fs-rem(23px);
  }

  @include mq($from: wide) {
    font-size: fs-rem(24px);
  }
}

.c-text__size--2xl {
  font-size: fs-rem(24px);

  @include mq($from: tablet) {
    font-size: fs-rem(25px);
  }

  @include mq($from: laptop) {
    font-size: fs-rem(26px);
  }

  @include mq($from: desktop) {
    font-size: fs-rem(27px);
  }

  @include mq($from: wide) {
    font-size: fs-rem(28px);
  }
}

.c-text__size--3xl {
  font-size: fs-rem(28px);

  @include mq($from: tablet) {
    font-size: fs-rem(29px);
  }

  @include mq($from: laptop) {
    font-size: fs-rem(30px);
  }

  @include mq($from: desktop) {
    font-size: fs-rem(31px);
  }

  @include mq($from: wide) {
    font-size: fs-rem(32px);
  }
}

// ==========================================================================
// font-size(fluid)
// ==========================================================================

.c-text__fluid--xs {
  @include fs-scale(font-size, ($breakpoint-mobile: 13px, $breakpoint-wide: 14px));
}

.c-text__fluid--sm {
  @include fs-scale(font-size, ($breakpoint-mobile: 14px, $breakpoint-wide: 15px));
}

.c-text__fluid--md {
  @include fs-scale(font-size, ($breakpoint-mobile: 14px, $breakpoint-wide: 16px));
}

.c-text__fluid--lg {
  @include fs-scale(font-size, ($breakpoint-mobile: 16px, $breakpoint-wide: 18px));
}

.c-text__fluid--xl {
  @include fs-scale(font-size, ($breakpoint-mobile: 20px, $breakpoint-wide: 24px));
}

.c-text__fluid--2xl {
  @include fs-scale(font-size, ($breakpoint-mobile: 24px, $breakpoint-wide: 28px));
}

.c-text__fluid--3xl {
  @include fs-scale(font-size, ($breakpoint-mobile: 28px, $breakpoint-wide: 32px));
}

// ==========================================================================
// 3a_color
// ==========================================================================

.c-text__color--primary {
  color: var(--color-neutral-primary);
}

.c-text__color--secondary {
  color: var(--color-neutral-secondary);
}

.c-text__color--black {
  color: var(--color-black);
}

.c-text__color--white {
  color: var(--color-white);
}

.c-text__color--warning {
  color: var(--color-warning);
}

.c-text__color--accent {
  color: var(--color-accent);
}

.c-text__color--link {
  color: var(--color-link);
}

// ==========================================================================
// color(neutral)
// ==========================================================================

.c-text__color--neutral-darken {
  color: var(--color-neutral-darken);
}

.c-text__color--neutral-darker {
  color: var(--color-neutral-darker);
}

.c-text__color--neutral-mid {
  color: var(--color-neutral-mid);
}

.c-text__color--neutral-lighter {
  color: var(--color-neutral-lighter);
}

.c-text__color--neutral-lightest {
  color: var(--color-neutral-lightest);
}

@for $i from 1 through 9 {
  .c-text__color--neutral-#{$i * 100} {
    color: var(--color-neutral-#{$i * 100});
  }
}

// ==========================================================================
// color(alpha)
// ==========================================================================

@for $i from 1 through 9 {
  .c-text__color--black-alpha-#{$i * 100} {
    color: var(--color-black-alpha-#{$i * 100});
  }
}

@for $i from 1 through 9 {
  .c-text__color--white-alpha-#{$i * 100} {
    color: var(--color-white-alpha-#{$i * 100});
  }
}

// ==========================================================================
// font-wweight
// ==========================================================================

.c-text__weight--normal {
  font-weight: var(--font-weight-normal);
}

.c-text__weight--medium {
  font-weight: var(--font-weight-medium);
}

.c-text__weight--semi-bold {
  font-weight: var(--font-weight-semi-bold);
}

.c-text__weight--bold {
  font-weight: var(--font-weight-bold);
}

.c-text__weight--black {
  font-weight: var(--font-weight-black);
}

// ==========================================================================
// letter-spacing
// ==========================================================================

.c-text__ls--narrow {
  letter-spacing: var(--letter-spacing-narrow);
}

.c-text__ls--normal {
  letter-spacing: var(--letter-spacing-normal);
}

.c-text__ls--wide {
  letter-spacing: var(--letter-spacing-wide);
}

.c-text__ls--wider {
  letter-spacing: var(--letter-spacing-wider);
}

.c-text__ls--widest {
  letter-spacing: var(--letter-spacing-widest);
}

// ==========================================================================
// line-height
// ==========================================================================

.c-text__lh--none {
  line-height: var(--line-height-none);
}

.c-text__lh--tight {
  line-height: var(--line-height-tight);
}

.c-text__lh--snug {
  line-height: var(--line-height-snug);
}

.c-text__lh--normal {
  line-height: var(--line-height-normal);
}

.c-text__lh--relaxed {
  line-height: var(--line-height-relaxed);
}

.c-text__lh--loose {
  line-height: var(--line-height-loose);
}

.c-text__lh--extra-loose {
  line-height: var(--line-height-extra-loose);
}

// ==========================================================================
// underline
// ==========================================================================

.c-text__underline--tech1 {
  text-decoration: underline;
}

.c-text__underline--tech2 {
  display: inline-block;
  background: linear-gradient(transparent 70%, var(--color-link) 70%);
}

// ==========================================================================
// uppercase
// ==========================================================================

.c-text__uppercase {
  text-transform: uppercase;
}

// ==========================================================================
// outline
// ==========================================================================

.c-text__outline {
  color: var(--color-neutral-darken);
  text-shadow:
    1px 1px var(--color-neutral-extra-lighter),
    -1px 1px var(--color-neutral-extra-lighter),
    -1px -1px var(--color-neutral-extra-lighter),
    1px -1px var(--color-neutral-extra-lighter),
    1px 0 var(--color-neutral-extra-lighter),
    0 1px var(--color-neutral-extra-lighter),
    -1px 0 var(--color-neutral-extra-lighter),
    0 -1px var(--color-neutral-extra-lighter);
}

// ==========================================================================
// shadow
// ==========================================================================

.c-text__shadow {
  text-shadow: fs-rem(1px) fs-rem(1px) fs-rem(0) var(--color-neutral-lightest-alpha-middle);
}

// ==========================================================================
// writing
// ==========================================================================

.c-text__vertical {
  writing-mode: vertical-rl;
}

// ==========================================================================
// hover
// ==========================================================================

.c-text__hover {
  transition: color 0.3s var(--ease-in-out-cubic);

  @media screen and (prefers-reduced-motion: reduce) {
    transition: none;
  }

  @include hover {
    color: var(--color-neutral-extra-lighter);

    &::before,
    &::after {
      color: var(--color-neutral-extra-lighter);
    }
  }

  &::before,
  &::after {
    transition: color 0.3s var(--ease-in-out-cubic);
  }
}

// ==========================================================================
// animation
// ==========================================================================

.c-text__animation--hover-tech1 { // https://css-tricks.com/4-ways-to-animate-the-color-of-a-text-link-on-hover/#aa-technique-1-using-background-clip-text
  position: relative;
  overflow: hidden;
  color: transparent;
  vertical-align: bottom;
  background: linear-gradient(to right, var(--color-link-hover), var(--color-link-hover) 50%, var(--color-link) 50%);
  background-position: 100%;
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 0.3s var(--ease-in-out-cubic);

  @include hover {
    background-position: 0 100%;
  }
}

.c-text__animation__hover-tech2 { // https://css-tricks.com/4-ways-to-animate-the-color-of-a-text-link-on-hover/#aa-technique-3-using-clip-path
  position: relative;
  overflow: hidden;
  color: var(--color-link);
  vertical-align: bottom;
  transition: clip-path 0.3s var(--ease-in-out-cubic);

  @include hover-before-pseudo-element {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.c-text__animation__hover-tech2::before {
  position: absolute;
  color: var(--color-link-hover);
  text-decoration: underline;
  transition: clip-path 0.3s var(--ease-in-out-cubic);
  content: attr(data-content);
  clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
  text-decoration-color: var(--color-link-hover);
}
