/* ==========================================================================
   Timeline component
   ========================================================================== */

@use '../../abstracts/' as *;
@use 'sass:math' as *;

/* item layout */
.c-timeline__item {
  display: flex;
}

/* contentn layout */
.c-timeline__content {
  position: relative;
  flex: 1; // flex-grow: 1, flex-shrink: 1, flex-basis: 0
  order: 1;
  padding-bottom: fs-rem(62px);
  padding-left: fs-rem(48px);

  @include mq($from: tablet) {
    padding-bottom: fs-rem(62px);
  }

  @include mq($from: wide) {
    padding-bottom: fs-rem(80px);
  }

  .c-timeline__item:nth-of-type(2) & {
    padding-bottom: fs-rem(80px);

    @include mq($from: tablet) {
      padding-bottom: fs-rem(120px);
    }

    @include mq($from: wide) {
      padding-bottom: fs-rem(160px);
    }
  }
}

/* separator line */
.c-timeline__item:not(:last-child) {
  .c-timeline__content::before {
    position: absolute;
    top: 0;
    left: fs-rem(25px);
    width: fs-rem(2px);
    height: 100%;
    background-color: var(--color-neutral-lighter);
    content: '';
  }

  .c-timeline__content--dashed-line::before {
    width: fs-rem(2px);
    background-color: transparent;
    background-image: linear-gradient(to top, var(--color-neutral-lighter), var(--color-neutral-lighter) 3px, transparent 3px, transparent 8px);
    background-repeat: repeat-y;
    background-size: fs-rem(2px) fs-rem(8px);
  }
}

.c-timeline__item:nth-of-type(1) {
  .c-timeline__content--dashed-line::before {
    animation: 14s var(--ease-in-out-cubic) 0s infinite line-animation-01;

    @media screen and (prefers-reduced-motion: reduce) {
      animation: none;
    }
  }

  .c-timeline__content--dashed-line::after {
    animation: 14s var(--ease-in-out-cubic) 0s infinite circle-animation-01;

    @media screen and (prefers-reduced-motion: reduce) {
      background-color: var(--color-neutral-lighter);
      border-color: var(--color-neutral-lighten);
      animation: none;
    }
  }
}

.c-timeline__item:nth-of-type(2) {
  .c-timeline__content--dashed-line::before {
    animation: 14s var(--ease-in-out-cubic) 0s infinite line-animation-02;

    @media screen and (prefers-reduced-motion: reduce) {
      animation: none;
    }
  }

  .c-timeline__content--dashed-line::after {
    animation: 14s var(--ease-in-out-cubic) 0s infinite normal none circle-animation-02;

    @media screen and (prefers-reduced-motion: reduce) {
      background-color: var(--color-neutral-lighter);
      border-color: var(--color-neutral-lighten);
      animation: none;
    }
  }
}

/* circle style */
.c-timeline__content::after {
  position: absolute;
  top: fs-rem(-1px);
  left: fs-rem(20px - 4px);
  width: fs-rem(20px);
  height: fs-rem(20px);
  background-color: var(--color-neutral-darker);
  border: fs-rem(2px) solid var(--color-neutral-lighter);
  border-radius: 50%;
  content: '';
}

.c-timeline__title {
  margin-top: fs-rem(-4px);

  @include mq($from: tablet) {
    margin-top: fs-rem(-5px);
  }

  @include mq($from: desktop) {
    margin-top: fs-rem(-8px);
  }

  @include mq($from: wide) {
    margin-top: fs-rem(-8px);
  }
}

.c-timeline__description {
  margin-top: fs-rem(16px);

  &:nth-of-type(n+2) {
    margin-top: fs-rem(48px);
  }
}

/* time layout */
.c-timeline__time {
  flex: 0 0 fs-rem(68px); // flex-grow, flex-shrink, flex-basis
  min-width: 0;
  padding-bottom: fs-rem(16px);
  line-height: var(--line-height-snug);
  text-align: end;
  overflow-wrap: break-word;

  @include mq($from: tablet) {
    flex: 0 0 fs-rem(100px); // flex-grow, flex-shrink, flex-basis
  }

  @include mq($from: desktop) {
    margin-top: fs-rem(-3px);
  }

  @include mq($from: wide) {
    flex: 0 0 fs-rem(140px); // flex-grow, flex-shrink, flex-basis
    margin-top: fs-rem(-6px);
  }
}

/* stylelint-disable plugin/stylelint-bem-namics */
@keyframes line-animation-01 {
  0%,
  30% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }

  80% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes line-animation-02 {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }

  30% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes circle-animation-01 {
  0%,
  70% {
    background-color: var(--color-neutral-darker);
  }

  90% {
    background-color: var(--color-neutral-lighter);
    border-color: var(--color-neutral-lighten);
  }

  100% {
    background-color: var(--color-neutral-darker);
  }
}

@keyframes circle-animation-02 {
  0%,
  30% {
    background-color: var(--color-neutral-darker);
  }

  30.1% {
    background-color: var(--color-neutral-darker);
  }

  45% {
    background-color: var(--color-neutral-lighter);
    border-color: var(--color-neutral-lighten);
  }

  70% {
    background-color: var(--color-neutral-darker);
  }

  90% {
    background-color: var(--color-neutral-lighter);
    border-color: var(--color-neutral-lighten);
  }

  100% {
    background-color: var(--color-neutral-darker);
  }
}
/* stylelint-enable plugin/stylelint-bem-namics */
