/* ==========================================================================
   Display utility
   ========================================================================== */

@use '../../abstracts/' as *;

/* none */
.u-display__none {
  display: none;
}

@each $name, $value in $breakpoint {
  .u-display__none--from-#{$name} {
    @include mq($from: #{$name}) {
      display: none;
    }
  }
}

@each $name, $value in $breakpoint {
  .u-display__none--until-#{$name} {
    @include mq($until: #{$name}) {
      display: none;
    }
  }
}

/* inline */
.u-display__inline {
  display: inline;
}

@each $name, $value in $breakpoint {
  .u-display__inline--from-#{$name} {
    @include mq($from: #{$name}) {
      display: inline;
    }
  }
}

@each $name, $value in $breakpoint {
  .u-display__inline--until-#{$name} {
    @include mq($until: #{$name}) {
      display: inline;
    }
  }
}

/* inline-block */
.u-display__inline-block {
  display: inline-block;
}

@each $name, $value in $breakpoint {
  .u-display__inline-block--from-#{$name} {
    @include mq($from: #{$name}) {
      display: inline-block;
    }
  }
}

@each $name, $value in $breakpoint {
  .u-display__inline-block--until-#{$name} {
    @include mq($until: #{$name}) {
      display: inline-block;
    }
  }
}

/* block */
.u-display__block {
  display: block;
}

@each $name, $value in $breakpoint {
  .u-display__block--from-#{$name} {
    display: inline;
    @include mq($from: #{$name}) {
      display: block;
    }
  }
}

@each $name, $value in $breakpoint {
  .u-display__block--until-#{$name} {
    display: block;

    @include mq($from: #{$name}) {
      display: inline;
    }
  }
}
