/* ==========================================================================
   Full-bleed utility
   ========================================================================== */

@use '../../abstracts/' as *;

// https://notes.zander.wtf/full-bleed-utility
// https://archive.hankchizljaw.com/wrote/creating-a-full-bleed-css-utility/
// https://css-tricks.com/full-width-containers-limited-width-parents/#article-header-id-6
// https://css-tricks.com/full-width-containers-limited-width-parents/#article-header-id-6

/* all */
.u-full-bleed {
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

@each $name, $value in $breakpoint {
  .u-full-bleed--from-#{$name} {
    @include mq($from: #{$name}) {
      width: 100vw;
      margin-left: calc(50% - 50vw);
    }
  }
}

@each $name, $value in $breakpoint {
  .u-full-bleed--lower-#{$name} {
    @include mq($until: #{$name}) {
      width: 100vw;
      margin-left: calc(50% - 50vw);
    }
  }
}
