/* ==========================================================================
   Visible utility
   ========================================================================== */

@use '../../abstracts/' as *;

/* block */
@each $name, $value in $breakpoint {
  .u-visible__block--from-#{$name} {
    display: none;

    @include mq($from: #{$name}) {
      display: block;
    }
  }
}

@each $name, $value in $breakpoint {
  .u-visible__block--until-#{$name} {
    display: block;

    @include mq($until: #{$name}) {
      display: none;
    }
  }
}

/* inline-block */
@each $name, $value in $breakpoint {
  .u-visible__inline-block--from-#{$name} {
    display: none;

    @include mq($from: #{$name}) {
      display: inline-block;
    }
  }
}

@each $name, $value in $breakpoint {
  .u-visible__inline-block--until-#{$name} {
    display: inline-block;

    @include mq($until: #{$name}) {
      display: none;
    }
  }
}

/* inline */
@each $name, $value in $breakpoint {
  .u-visible__inline--from-#{$name} {
    display: none;

    @include mq($from: #{$name}) {
      display: inline;
    }
  }
}

@each $name, $value in $breakpoint {
  .u-visible__inline--until-#{$name} {
    display: inline;

    @include mq($until: #{$name}) {
      display: none;
    }
  }
}
