/* ==========================================================================
   Container layout
   ========================================================================== */

@use '../abstracts/' as *;
@use 'sass:math' as *;

/* padding scale map */
$container-padding-scale: (
  md: (
    mobile: rem(60px),
    landscape: rem(80px),
    tablet: rem(100px),
    desktop: rem(160px),
    wide: rem(327px),
    full: rem(327px)
  ),
  lg: (
    mobile: rem(60px),
    landscape: rem(80px),
    tablet: rem(100px),
    desktop: rem(120px),
    wide: rem(140px),
    full: rem(160px)
  )
);

/* base layout */
.l-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

/* medium, large size modifier */
@each $padding-size, $breakpoints in $container-padding-scale {
  @if $padding-size == md {
    .l-container--#{$padding-size} {
      width: min(100% - var(--padding, rem(40px)), var(--max-width, rem(1600px)));

      @each $breakpoint, $value in $breakpoints {
        @include mq($from: #{$breakpoint}) {
          --padding: #{$value};
        }
      }
    }
  }

  @if $padding-size == lg {
    .l-container--#{$padding-size} {
      width: min(100% - var(--padding, rem(40px)), var(--max-width, rem(1600px)));

      @each $breakpoint, $value in $breakpoints {
        @include mq($from: #{$breakpoint}) {
          --padding: #{$value};
        }
      }
    }
  }
}
