/* ==========================================================================
   Container layout
   ========================================================================== */

@use '../abstracts/' as *;

/* width */
.l-container__w--sm,
.l-container__w--md,
.l-container__w--lg {
  margin-right: auto;
  margin-left: auto;
}

.l-container__w--sm {
  width: calc(926px / 1366px * 100%); // 67.8%
}

.l-container__w--md {
  width: calc(1022px / 1366px * 100%); // 74.8%
}

.l-container__w--lg {
  width: calc(1246px / 1366px * 100%); // 67.8%
}

/* max-width */
.l-container__max-w--xs {
  max-width: fs-rem(480px);
}

.l-container__max-w--sm {
  max-width: fs-rem(620px);
}

.l-container__max-w--md {
  max-width: fs-rem(900px);
}

.l-container__max-w--lg {
  max-width: fs-rem(1080px);
}

.l-container__max-w--xl {
  max-width: fs-rem(1200px);
}

.l-container__max-w--2xl {
  max-width: fs-rem(1440px);
}

.l-container__max-w--3xl {
  max-width: fs-rem(1600px);
}
